<?php
/**
 *
 * PHP 5
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright 2005-2012, Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright 2005-2012, Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       Cake.View.Layouts
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       MIT License (http://www.opensource.org/licenses/mit-license.php)
 */

$application_title = "Sweetfiction";
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <?php echo $this->Html->charset(); ?>
    <title>
        <?php echo $application_title ?>:
        <?php echo $title_for_layout; ?>
    </title>
    <?php
        echo $this->Html->meta('icon');

        echo $this->Html->css('cake.generic');

        echo $this->fetch('meta');
        echo $this->fetch('css');
        echo $this->fetch('script');
        echo $this->Html->script('jquery-1.8.3.js'); 

    ?>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1><?php
                $username = __('Guest');
                if ($this->Auth->currentUser())
                {
                    $username = $this->Auth->currentUser('name');
                }
                echo __('Welcome %s', $username); ?></h1>
        </div>
        <div id="content">
            <div id="navigation">
                <?php echo $this->Html->link(__('Users'), array('controller' => 'users', 'action' => 'index')); ?>
                <?php echo $this->Html->link(__('Stories'), array('controller' => 'stories', 'action' => 'index')); ?>
                <?php if ($this->Auth->currentUser() == null): ?>
                    <?php echo $this->Html->link(__('Login'), array('controller' => 'authentication', 'action' => 'login')); ?>
                    <?php echo $this->Html->link(__('Register'), array('controller' => 'authentication', 'action' => 'register')); ?>
                <?php else: ?>
                    <?php echo $this->Html->link(__('Profile'), array('controller' => 'users', 'action' => 'view', $this->Auth->currentUser('id'))); ?>
                    <?php echo $this->Html->link(__('Logout'), array('controller' => 'authentication', 'action' => 'logout')); ?>
                <?php endif; ?>
            </div>
            <?php echo $this->Session->flash(); ?>
            <?php echo $this->Session->flash('auth'); ?>
            <?php echo $this->fetch('content'); ?>
        </div>
        <div id="footer">
            <?php echo $this->Html->link(
                    $this->Html->image('cake.power.gif', array('alt' => "CakePHP", 'border' => '0')),
                    'http://www.cakephp.org/',
                    array('target' => '_blank', 'escape' => false)
                );
            ?>
        </div>
    </div>
    <?php echo $this->element('sql_dump'); ?>
</body>
</html>
